# Emby Environment Configuration

# User and Group IDs
UID=1000
GID=100
GIDLIST=100

# Volume Paths
EMBY_CONFIG_PATH=/mnt/data/emby/config
EMBY_MEDIA_PATH=/media/user/media/plexmedia

# Network Ports
HTTP_PORT=8096
HTTPS_PORT=8920
